/*
color key
lightgray: rgb(211,211,211);

*/

body {
	border: 1px solid red;
	width: 300px;
	margin: 0 auto;
}

.completed {
	color: rgb(211,211,211);
	text-decoration: line-through;
}

ul {
	list-style: none;
}